<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="non-transparent-background no-margin-bottom">
        <div class="other-header-image"></div>
        <form action="/user/update-settings" class="settings-update-form" method="post">
            <h2>Welcome, <%= user.firstName + " " + user.lastName %></h2>

            <fieldset>
                <legend>User Info</legend>
                <div class="input-container">
                    <input type="text" name="username" id="username" readonly value="<%= user.username %>">
                    <label for="username" class="form-label">Username</label>
                </div>
                <div class="input-container">
                    <input type="text" name="email" id="email" required value="<%= previous ? previous.email : user.email %>">
                    <label for="email" class="form-label">Email</label>
                </div>
                <div class="input-container">
                    <input type="text" name="firstname" id="firstname" required value="<%= previous ? previous.firstname : user.firstName %>">
                    <label for="firstname" class="form-label">First name</label>
                </div>
                <div class="input-container">
                    <input type="text" name="lastname" id="lastname" required value="<%= previous ? previous.lastname : user.lastName %>">
                    <label for="lastname" class="form-label">Last name</label>
                </div>
            </fieldset>
            <fieldset>
                <legend>Notification Preferences</legend>
                <div class="notification-preferences">
                    <label class="notification-option">
                        <input type="checkbox" name="in-website" id="in-website" disabled checked>
                        <span title="You will always get notifications through the website, and cannot change this setting"><span class="material-symbols-outlined">check</span>In-Website</span>
                    </label>
                    <label class="notification-option">
                        <input type="checkbox" name="via-email" id="via-email" <%= user.allowForumEmailNotifications ? 'checked' : '' %>>
                        <span><span class="material-symbols-outlined">check</span>Email</span>
                    </label>
                    <label class="notification-option">
                        <input type="checkbox" name="via-browser" id="via-browser" <%= user.allowDesktopNotifications ? 'checked' : '' %>>
                        <span><span class="material-symbols-outlined">check</span>Browser</span>
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <legend>User Profile</legend>
                <div class="input-container">
                    <input type="text" name="displayName" id="displayName" required value="<%= previous ? previous.displayName : user.displayName %>">
                    <label for="displayName" class="form-label">Display Name</label>
                </div>
                <div class="input-container">
                    <textarea name="bio" id="bio"><%= previous ? previous.bio : (user.bio ? user.bio : '') %></textarea>
                    <label for="bio" class="form-label">Bio</label>
                </div>
                <div class="input-container">
                    <input oninput="loadPreviewImage(this)" type="number" name="profileAvatar" id="profileAvatar" min="1" max="30" required value="<%= previous ? previous.profileAvatar : user.profileAvatar %>">
                    <label for="profileAvatar" class="form-label">Profile Avatar</label>
                    <img class="avatar-preview" src="<%= domainUrl %>/images/profile-images/pi-<%= previous ? previous.profileAvatar : user.profileAvatar %>.png" alt="profile avatar">
                </div>
                <div class="input-container">
                    <input oninput="loadPreviewImage(this)" type="number" name="profileBackground" id="profileBackground" min="1" max="33" required value="<%= previous ? previous.profileBackground : user.profileBackground %>">
                    <label for="profileBackground" class="form-label">Profile Background</label>
                    <img class="background-preview" src="<%= domainUrl %>/images/profile-backgrounds/bg-<%= previous ? previous.profileBackground : user.profileBackground %>.png" alt="profile background">
                </div>
            </fieldset>
            <fieldset>
                <legend>Code Example & Editor Settings</legend>
                <div class="input-container">
                    <select type="text" name="codeTheme" id="codeTheme" required value="<%= user.codeTheme %>">
                        <% for (let availableCodeTheme of availableCodeThemes) { %>
                            <option value="<%= availableCodeTheme %>" <%= user.codeTheme == availableCodeTheme ? 'selected' : '' %>><%= availableCodeTheme %></option>
                        <% } %>
                    </select>
                    <label for="codeTheme" class="form-label">Code Example Theme</label>
                </div>
                <label class="container-label" for="showLineNumbers"><input type="checkbox" name="showLineNumbers" id="showLineNumbers" onchange="this.value = this.checked" value="<%= user.showLineNumbers ? (user.showLineNumbers ? 'true' : 'false') : 'false' %>" <%= user.showLineNumbers ? 'checked' : '' %>>Show line numbers on code examples</label>
                <div class="input-container">
                    <select type="text" name="editorTheme" id="editorTheme" required>
                        <% for (let availableEditorTheme of availableEditorThemes) { %>
                            <option value="<%= availableEditorTheme %>" <%= user.editorTheme == availableEditorTheme ? 'selected' : '' %>><%= availableEditorTheme %></option>
                        <% } %>
                    </select>
                    <label for="editorTheme" class="form-label">Code Editor Theme</label>
                </div>
                <div class="input-container">
                    <select type="text" name="editorLayout" id="editorLayout" required>
                        <option value="side-by-side" <%= user.editorLayout == "side-by-side" ? 'selected' : '' %>>side-by-side</option>
                        <option value="stacked" <%= user.editorLayout == "stacked" ? 'selected' : '' %>>stacked</option>
                    </select>
                    <label for="editorLayout" class="form-label">Code Editor Layout</label>
                </div>
            </fieldset>
            <%- include('../includes/csrf-token.ejs') %>
            <input type="submit" value="Update">
        </form>
        <hr>
        <form action="/request-my-data" class="settings-update-form" method="get">
            <h3>Request My Data</h3>
            <p>
                Even though you can see all you info here that is stored on our
                database, you can request your data in an email format.
            </p>
            <input type="submit" value="Request My Data">
        </form>
        <hr>
        <form action="/user/delete-account" class="settings-update-form" method="post">
            <h3>Delete My Account</h3>
            <p>
                If you no longer want an account, you can delete it. But know
                that if you delete it, all your projects, comments, questions,
                and answers will not be in your name. And you cannot undo the
                delete. Once you delete it, all your progress on any course
                will be lost.
            </p>
            <%- include('../includes/csrf-token.ejs') %>
            <input type="submit" class="danger-button" value="Delete My Account">
        </form>
    </main>

<%- include('../includes/end.ejs') %>