<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="white-background">
        <div class="header-image"></div>
        <section class="overlap-top">
            <h2>Confirmation <%= confirmationMessage %></h2>
            <p><%=  %></p>
        </section>
    </main>

<%- include('../includes/end.ejs') %>