<main class="scrolling-images">
    <div class="hero-image">
        <section class="call-to-action">
            <h3>Looking to learn coding?</h3>
            <small>Start Here, Start Now</small>
            <a href="/signup" class="btn">Create an account</a>
        </section>
    </div>
    <section class="intro">
        <img src="/images/site-images/genius-coding.jpg" alt="Genius Coding intro image">
        <h2>What is Genius Coding?</h2>
        <p>
            Genius Coding is a group of people who create fun and/or helpful tutorials and
            coding courses in a variety of coding languages. We also develope software
            that is helpful, efficient, clean, and user-friendly.
        </p>
    </section>
    <section class="offered">
        <h2>Learning with Genius Coding</h2>
        <% for (let card in cards) { %>
            <div class="card">
                <div class="image-holder">
                    <% for (let img in card.imgs) { %>
                        <div class="<%= img %>"></div>
                    <% } %>
                </div>
                <div class="card-content">
                    <a href="<%= card.type %>/<%= card.thingId %>"><h3><%= card.title %>></h3></a>
                    <p><%= card.description %>></p>
                    <div class="tags">
                        <% for (let tag in card.tags) { %>
                            <a href="<%= card.type %>/<%= tag %>" class="tag"><%= tag %></a>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </section>
    <div class="last-call">
        <div>
            <h2>Not sure where to start?</h2>
            <p>
                Take this quiz to help you choose the
                right course for you!
            </p>
            <a href="/learn/quiz" class="special-button">Take Quiz</a>
        </div>
    </div>
</main>