<section class="forum">
    <h3>Comments & Questions</h3>
    <% if (isAuthenticated) { %>
        <form action="/post-message" method="post">
            <div class="input-container">
                <textarea name="message-content" id="message-content" required><%= previous?.messageContent %></textarea>
                <label for="message-content" class="form-label">Enter Message</label>
            </div>
            <div class="input-container">
                <select name="message-type" id="message-type" required>
                    <option value=""></option>
                    <option value="comment" <%= previous?.messageType ? (previous?.messageType == 'comment' ? 'selected' : '') : '' %>>Comment</option>
                    <option value="question" <%= previous?.messageType ? (previous?.messageType == 'question' ? 'selected' : '') : '' %>>Question</option>
                </select>
                <label for="message-type" class="form-label">Select Type</label>
            </div>
            <input type="hidden" name="urlFrom" value="<%= previous ? previous.urlFrom : path %>">
            <input type="hidden" name="connectedContent" value="<%= contentType == 'Project' ? projectId : (contentType == 'Article' ? articleId : (contentType == 'Reference' ? referenceId : (contentType == 'Tutorial' ? tutorialId : ''))) %>">
            <input type="hidden" name="connectedContentType" value="<%= contentType %>">
            <input type="hidden" name="connectedMessage" value="">
            <%- include('csrf-token.ejs') %>
            <button type="submit" class="btn withSymbol"><span class="material-symbols-outlined">send</span>Post</button>
        </form>
    <% } else { %>
        <p>Please <a href='/login?redirectTo=<%= encodeURIComponent(path) %>'>login</a> or <a href='/signup'>signup</a> to post a question or comment!</p>
    <% } %>
    <hr id="messages">
    <% if (messages.length > 0) { %>
        <% for (let message of messages) { %>
            <section class="message <%= message.type %>" id="cg-<%= message._id %>">
                <div class="votes">
                    <button onclick="vote('<%= message._id %>','up')" class="up <%= message.activatedUp ? 'activated' : '' %>"></button>
                    <span class="numVotes"><%= message.votes %></span>
                    <button onclick="vote('<%= message._id %>','down')" class="down <%= message.activatedDown ? 'activated' : '' %>"></button>
                </div>
                <h4><%= message.userId.displayName %> <span class="date"><%= message.sendDate.toDateString() %></span></h4>
                <p><%= message.content %></p>
                <div class="replyTo">
                    <% if (message.type === 'question') { %>
                        <a href="javascript: openAnswerForm('cg-<%= message._id %>')" class="addAnswer">Answer</a>
                    <% } %>
                    <a href="javascript: openCommentOnForm('cg-<%= message._id %>')" class="commentOn">Comments</a>
                </div>
                <div class="comments">
                    <% for (let comment of message.comments) { %>
                        <section class="message comment connected">
                            <h4><%= comment.userId.displayName %> <span class="date"><%= comment.sendDate.toDateString() %></span></h4>
                            <p><%= comment.content %></p>
                        </section>
                    <% } %>
                    <% if (message.comments.length < 1) { %>
                        <p class="no-comments">No comments yet. Be the first to comment!</p>
                    <% } %>
                    <form class="replyToForm" action="/post-message" method="post">
                        <div class="input-container">
                            <textarea name="message-content" id="message-content2" required></textarea>
                            <label for="message-content2" class="form-label">Enter Message</label>
                        </div>
                        <input type="hidden" name="message-type" value="comment">
                        <input type="hidden" name="urlFrom" value="<%= previous ? previous.urlFrom : path %>">
                        <input type="hidden" name="connectedContent" value="<%= contentType == 'Project' ? projectId : (contentType == 'Article' ? articleId : (contentType == 'Reference' ? referenceId : (contentType == 'Tutorial' ? tutorialId : ''))) %>">
                        <input type="hidden" name="connectedContentType" value="<%= contentType %>">
                        <input type="hidden" name="connectedMessage" value="<%= message._id %>">
                        <%- include('csrf-token.ejs') %>
                        <button type="submit" class="btn withSymbol"><span class="material-symbols-outlined">comment</span>Comment</button>
                    </form>
                </div>
                <div class="answers">
                    <form class="answerForm" action="/post-message" method="post">
                        <div class="input-container">
                            <textarea name="message-content" id="message-content3" required></textarea>
                            <label for="message-content3" class="form-label">Enter Message</label>
                        </div>
                        <input type="hidden" name="message-type" value="answer">
                        <input type="hidden" name="urlFrom" value="<%= previous ? previous.urlFrom : path %>">
                        <input type="hidden" name="connectedContent" value="<%= contentType == 'Project' ? projectId : (contentType == 'Article' ? articleId : (contentType == 'Reference' ? referenceId : (contentType == 'Tutorial' ? tutorialId : ''))) %>">
                        <input type="hidden" name="connectedContentType" value="<%= contentType %>">
                        <input type="hidden" name="connectedMessage" value="<%= message._id %>">
                        <%- include('csrf-token.ejs') %>
                        <button type="submit" class="btn withSymbol"><span class="material-symbols-outlined">send</span>Answer</button>
                    </form>
                    <% for (let answer of message.answers) { %>
                        <section class="message answer connected" id="cg-<%= answer._id %>">
                            <div class="votes">
                                <button onclick="vote('<%= answer._id %>','up')" class="up <%= answer.activatedUp ? 'activated' : '' %>"></button>
                                <span class="numVotes"><%= answer.votes %></span>
                                <button onclick="vote('<%= answer._id %>','down')" class="down <%= answer.activatedDown ? 'activated' : '' %>"></button>
                            </div>
                            <h4><%= answer.userId.displayName %> <span class="date"><%= answer.sendDate.toDateString() %></span></h4>
                            <p><%= answer.content %></p>
                            <div class="replyTo">
                                <a href="javascript: openCommentOnForm('cg-<%= answer._id %>')" class="commentOn">Comments</a>
                            </div>
                            <div class="comments">
                                <% for (let answerComment of answer.comments) { %>
                                    <section class="message comment connected">
                                        <h4><%= answerComment.userId.displayName %> <span class="date"><%= answerComment.sendDate.toDateString() %></span></h4>
                                        <p><%= answerComment.content %></p>
                                    </section>
                                <% } %>
                                <% if (answer.comments.length < 1) { %>
                                    <p class="no-comments">No comments yet. Be the first to comment!</p>
                                <% } %>
                                <form class="replyToForm" action="/post-message" method="post">
                                    <div class="input-container">
                                        <textarea name="message-content" id="message-content4" required></textarea>
                                        <label for="message-content4" class="form-label">Enter Message</label>
                                    </div>
                                    <input type="hidden" name="message-type" value="comment">
                                    <input type="hidden" name="urlFrom" value="<%= previous ? previous.urlFrom : path %>">
                                    <input type="hidden" name="connectedContent" value="<%= contentType == 'Project' ? projectId : (contentType == 'Article' ? articleId : (contentType == 'Reference' ? referenceId : (contentType == 'Tutorial' ? tutorialId : ''))) %>">
                                    <input type="hidden" name="connectedContentType" value="<%= contentType %>">
                                    <input type="hidden" name="connectedMessage" value="<%= answer._id %>">
                                    <%- include('csrf-token.ejs') %>
                                    <button type="submit" class="btn withSymbol"><span class="material-symbols-outlined">comment</span>Comment</button>
                                </form>
                            </div>
                        </section>
                    <% } %>
                    <% if (message.answers.length < 1) { %>
                        <p class="no-answers">No answers yet. Be the first to answer!</p>
                    <% } %>
                </div>
            </section>
        <% } %>
    <% } else { %>
        <p>No comment or questions. Be the first to post!</p>
    <% } %>
</section>