<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <h2>Coding Playground</h2>
        <p>
            Currently you can play around with code in <%= languages.length %> different languages,
            but only HTML (with CSS, no JavaScript) can be run.
        </p>

        <div class="language-list">
            <% for (let language of languages) { %>
                <a href="/code/new/<%= language %>"><%= language %></a>
            <% } %>
        </div>
    </main>

<%- include('../../includes/end.ejs') %>
