<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <%- include('../../includes/code-project.ejs') %>

        <%- include('../../includes/forum.ejs') %>
    </main>

<%- include('../../includes/end.ejs') %>
