<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <article>
            <h1>Image Credits</h1>
            <p>This is a list of all the images that are used or will be used in the future. Click the image to go to the image. Click the "from" link to go the the host website. Click the "by" link to go to the authors page.</p>
            <hr>
            <section class="credits-flex">
                <h2>Card Images</h2>
                <% for (let credit of cardCredits) {
                    let image = credit.image;
                    let author = credit.author;
                    let source = credit.source; %>
                    <div class="credit">
                        <a target="_blank" href="<%= image.remotePath %>"><img src="<%= image.localPath %>" alt="image by <%= author.name %>" class="credit-image"></a>
                        <span>From <a target="_blank" href="<%= source.link %>"><%= source.name %></a><br>By <a target="_blank" href="<%= author.link %>"><%= author.name %></a></span>
                    </div>
                <% } %>
            </section>
            <hr>
            <section class="credits-flex">
                <h2>Profile Background Images</h2>
                <% for (let credit of bgCredits) {
                    let image = credit.image;
                    let author = credit.author;
                    let source = credit.source; %>
                    <div class="credit">
                        <a target="_blank" href="<%= image.remotePath %>"><img src="<%= image.localPath %>" alt="image by <%= author.name %>" class="credit-image"></a>
                        <span>From <a target="_blank" href="<%= source.link %>"><%= source.name %></a><br>By <a target="_blank" href="<%= author.link %>"><%= author.name %></a></span>
                    </div>
                <% } %>
            </section>
            <hr>
            <section class="credits-flex">
                <h2>Profile Image Credits</h2>
                <% for (let credit of profileCredits) {
                    let image = credit.image;
                    let author = credit.author;
                    let source = credit.source; %>
                    <div class="credit">
                        <a target="_blank" href="<%= image.remotePath %>"><img src="<%= image.localPath %>" alt="image by <%= author.name %>" class="credit-image"></a>
                        <span>From <a target="_blank" href="<%= source.link %>"><%= source.name %></a><br>By <a target="_blank" href="<%= author.link %>"><%= author.name %></a></span>
                    </div>
                <% } %>
            </section>
            <hr>
            <section class="credits-flex">
                <h2>Site Icon Credits</h2>
                <% for (let credit of siteIconCredits) {
                    let image = credit.image;
                    let author = credit.author;
                    let source = credit.source; %>
                    <div class="credit">
                        <a target="_blank" href="<%= image.remotePath %>"><img src="<%= image.localPath %>" alt="image by <%= author.name %>" class="credit-image"></a>
                        <span>From <a target="_blank" href="<%= source.link %>"><%= source.name %></a><br>By <a target="_blank" href="<%= author.link %>"><%= author.name %></a></span>
                    </div>
                <% } %>
            </section>
            <hr>
            <section class="credits-flex">
                <h2>Site Image Credits</h2>
                <% for (let credit of siteImageCredits) {
                    let image = credit.image;
                    let author = credit.author;
                    let source = credit.source; %>
                    <div class="credit">
                        <a target="_blank" href="<%= image.remotePath %>"><img src="<%= image.localPath %>" alt="image by <%= author.name %>" class="credit-image"></a>
                        <span>From <a target="_blank" href="<%= source.link %>"><%= source.name %></a><br>By <a target="_blank" href="<%= author.link %>"><%= author.name %></a></span>
                    </div>
                <% } %>
            </section>
            <hr>
            <section class="credits-flex">
                <h2>Used Libraries</h2>
                <% for (let credit of otherCredits) {
                    let source = credit.source; %>
                    <a target="_blank" class="small-credit" href="<%= source.link %>"><span><%= source.name %></span><span class="material-symbols-outlined">open_in_new</span></a>
                <% } %>
            </section>
        </article>
    </main>

<%- include('../includes/end.ejs') %>
