<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <section class="credits-flex">
            <h1>Image Credits</h1>
            <% for (let credit of credits) {
                let author = credit.author;
                let source = credit.source; %>
                <div class="credit">
                    <img src="<%= credit.imagePath %>" alt="image by <%= author.name %>" class="credit-image">
                    <span>Image from <a target="_blank" href="<%= source.link %>"><%= source.name %></a><br>Made by <a target="_blank" href="<%= author.link %>"><%= author.name %></a></span>
                </div>
            <% } %>
        </section>
    </main>

<%- include('../includes/end.ejs') %>
