<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="non-transparent-background no-margin-bottom">
        <div class="other-header-image"></div>
        <form action="/user/request-data" class="settings-update-form" method="post">
            <h2>Welcome, <%= user.firstName + " " + user.lastName %></h2>
            <p>
                It appears that you would like to request the data that we have
                stored in our database about you. Requesting your data does not
                remove it from our database. If you do not want to have any of
                the data (the info you see when you request your data) stored
                in our database, you would need to delete your account. That
                you can do in the <a href="/user/account-settings">settings page</a>.
            </p>
            <p>
                When you request your data, you will be emailed a list of all of
                the data that you have provided, except the password hash.
            </p>
            <p>
                When ever you are ready click the button below to request your data.
                The email will be sent to your email: <%= user.email.replace(/(.)(.*)(.{2}\@)/i, '$1***$3') %>
            </p>
            
            <%- include('../includes/csrf-token.ejs') %>
            <input type="submit" value="Request My Data">
        </form>
    </main>

<%- include('../includes/end.ejs') %>